.iewp-dashboard-links {
    position: relative;
}

.iewp-dashboard-links .addlink {
    position: absolute;
    top: -46px;
    right: 26px;
}

.iewp-dashboard-links .linkform {
    display: none;
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.iewp-dashboard-links .linkform input {
    width: 100%;
    margin-bottom: 10px;
}

.iewp-dashboard-links .linkform button {
    margin-bottom: 10px;
}

.iewp-dashboard-links .iewp-links {
    min-height: 30px;
}

.iewp-dashboard-links .iewp-links .nodata {
    color: #72777c;
}

.iewp-dashboard-links .iewp-links li {
    line-height: 16px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.iewp-dashboard-links .iewp-links li:last-child {
    border-bottom: none;
}

.iewp-dashboard-links .iewp-links .favicon {
    vertical-align: middle;
    margin-right: 4px;
}

.iewp-link-rm {
    position: absolute;
    right: 0px;
    color: #ccc;
    cursor: pointer;
}
.iewp-dashboard-links .iewp-links li:hover > .iewp-link-rm {
    display: inline-block;
}

.iewp-link-rm:hover {
    color: #444;
}

.iewp-link-rm-confirm {
    text-align: right;
    padding: 4px 0;
}

.iewp-link-rm-confirm span {
    display: inline-block;
    padding: 6px 6px 0 0;
}
